<div class = "row">
  <div class="col-md-3">
    <h2>
      {{ contact.firstname }} {{ contact.lastname }}
    </h2>
  </div>

  <div class="col-md-1 col-md-offset-3">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(contact._id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
  </div>
</div>

<!--
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="contact.email">email: <a ng-href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></p>
    <p ng-if="contact.secondaryemail">email: <a ng-href="mailto:{{ contact.secondaryemail }}" target="_blank">{{ contact.secondaryemail }}</a></p>
    <p ng-if="contact.phone">Mobile phone: {{ contact.phone }} </p>
    <p ng-if="contact.secondaryphone">Other Phone : {{ contact.secondaryphone }} </p>
    <p ng-if="contact.memexpiry">Membership Expires : {{ contact.memexpiry }} </p>
    <p ng-if="contact.address"> address: {{ contact.address }} </p>
    <p ng-if="contact.others">Other Members {{ contact.others }} </p>

    </p>
  </div>
</div>
-->
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>